<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonsterPixel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6CEFE5C28F44D580098E2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6CEFE7528F44D590098E2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6CEFE7F28F44D5A0098E2C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
